################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApplication15/bin/Debug/net8.0
/WebApplication15/obj
/WebApplication15/WebApplication15.csproj.user
